.avatar {
  width: 40px;
}
.not-found {
  height: 70vh;
}
.click-btn {
  padding: 6%;
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 2px solid #AFAFAF; */
  border-radius: 10px;
  cursor: pointer;
  border-color: rgba(255, 255, 255, 0);
  background-color: #fecf34;
}
.dashboard-main-cont {
  display: flex;
  // background-color: red;
  flex-direction: column;
}

.link-tag {
  text-decoration: none;
}

//Header css

.header-main-cont {
  height: 70px;
  width: 100%;
  background-color: white;
  display: flex;
}

.header-logo-cont {
  flex: 1;
  display: flex;
  // justify-content: center;
  padding-left: 4%;
  align-items: center;
  // background-color: green;
}
.header-navlinks-cont {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  min-width: 400px;
}
.header-logo-horizontal {
  width: 40%;
  min-width: 180px;
}

.header-profile-cont {
  flex: 1;
  justify-content: center;
  display: flex;
}
.profile-dropdown-main-cont {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.dropdown-div {
  display: flex;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
  position: absolute;
  width: 300px;
  z-index: 11;
  height: 300px;
  background-color: rgb(248, 248, 248);
  top: 100%;
  right: 0;
  border-radius: 8px;
  flex-direction: column;
}
.profile-dropdown-cont {
  // flex: 1;
  // background-color: red;
  display: flex;
  // height: 50px;
  display: flex;
  cursor: pointer;

  gap: 10px;
  max-width: 250px;
}
.notification-dropdown-head-cont {
  display: flex;
  padding: 2% 4%;
  height: 50px;
  border-bottom: 1px solid lightgray;
}
.dropdown-profile-image-cont {
  display: flex;
  padding: 2% 4%;
  height: 70px;
  border-bottom: 1px solid lightgray;

  // background-color: green;
}
.dropdown-nav-options-div {
  height: 90px;
  width: 100%;
  // background-color: red;
  border-bottom: 1px solid lightgray;

  display: flex;
  flex-direction: column;
}
.notification-dropdown-div-nav-tag {
  display: flex;
  margin: 0 20px;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  font-weight: 500;
  border-bottom: 1px solid lightgray;
  font-size: 14px;
}
.dropdown-div-nav-tag {
  // background-color: green;
  display: flex;
  padding-left: 10%;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  font-weight: 500;
}
.notification-dropdown-div-nav-tag:hover {
  background-color: white;
}
.dropdown-settings-div {
  height: 130px;
  width: 100%;
  // background-color: red;
  // border-bottom: 1px solid lightgray;

  display: flex;
  flex-direction: column;
}
.dropdown-div-nav-tag:hover {
  background-color: white;
}
.dropdown-email-tag {
  font-size: 14px;
}
.dropdown-name-tag {
  font-weight: 500;
}
.dropdown-email-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.down-arrow {
  width: 10px;
  height: 10px;
}
.profile-welcome-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.profile-img-tag {
  width: 30%;
  object-fit: contain;
}
.welcome-name-tag {
  font-weight: 600;
}
.header-profile-div {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  max-width: 300px;
}
.nav-links {
  // font-family: sans-serif;
  // font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  /* identical to box height */

  text-align: center;
  color: #5c5b5b;
  cursor: pointer;
}
.nav-links-active {
  color: #1f194c;
  text-decoration: underline #fecf34;
  text-underline-offset: 10px;
}
.search-icon {
  width: 10%;
  object-fit: contain;
  cursor: pointer;
}
.bell-icon {
  width: 80%;
  object-fit: contain;
  cursor: pointer;
}

.bellIcon-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.notification-dot {
  width: 10px;
  height: 10px;
  top: 20px;
  left: 30px;
  position: absolute;
  border-radius: 50%;
  background: #fecf34;
}

.mobile-hamburger-div {
  display: none;
}

@media only screen and (max-width: 768px) {
  .header-logo-horizontal {
    width: 30%;
    min-width: 150px;
  }
  .header-navlinks-cont {
    display: none;
  }
  .header-profile-cont {
    display: none;
  }
  .mobile-hamburger-div {
    flex: 1;
    display: flex;
    // gap: 15px;
    justify-content: flex-end;
  }
  .bell-icon {
    width: 40%;
  }
  .hamburger-icon {
    width: 30%;
  }
}

//backgoundDesign css

.bg-main-cont {
  height: 100%;
  z-index: -100;
  width: 100%;
  position: absolute;
  display: flex;
  background-color: #1f194c;
  flex-direction: column;
}

.blue-bg-div {
  flex: 1.5;
}

.white-bg-div {
  flex: 2;
  background-color: #e5e5e5;
}

//NewJobs css

.new-jobs-main-cont {
  display: flex;
  // background-color: white;
  background: #fcfcfc;
  width: 55%;
  max-height: 430px;
  border-radius: 20px;
  padding: 2%;
  flex-direction: column;
}
.newjob-company-logo {
  width: 7%;
}
.new-jobs-head {
  // font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 44px;
  /* identical to box height */

  color: #000000;

  // text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.new-jobs-cards-cont {
  flex-direction: column;
  gap: 20px;
  display: flex;
  align-items: center;
  padding-top: 20px;
  // padding: 4%;
}

// JobCard css

.job-card-cont {
  // padding-top: 15px;
  padding: 3%;
  height: 90px;
  // flex: 1;
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  // width: 50%;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.new-job-company-description {
  flex: 1;
  // height: 100%;
  // background-color: #1F194C;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 1% 5%;
}
.new-job-company-desc-div {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.new-job-time-of-upload {
  display: flex;
  align-items: center;
  // justify-content: space-evenly;
  gap: 10px;
  // flex: 1;

  width: 100%;
}
.new-job-time-of-upload > span {
  font-size: 14px;
  white-space: nowrap;
}
.new-job-company-extra-detail {
  flex: 1;
  // background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
}

.new-job-company-heading {
  font-weight: 600;
  font-size: 16px;
}
.new-job-company-post {
  text-align: start;
  font-size: 14px;
}
.dot {
  background-color: #5c5b5b;
  width: 10px;
  border-radius: 50%;
  height: 10px;
}

.new-job-company-extra-detail > span {
  font-size: 14px;
}

.new-job-view-deatil-tag {
  color: #3b6fb1;
  cursor: pointer;
  font-size: 14px;
}

.dashboard-header {
  color: white;
  font-size: 20px;
}
.dashboard-first-section {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  gap: 2%;
}

.dashboard-section-cont {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 2% 4%;
  gap: 30px;
}

//Notification css

.notification-main-cont {
  display: flex;
  // background-color: white;
  background: #fcfcfc;
  // width: 45%;
  border-radius: 20px;
  max-height: 430px;
  // min-width: 45%;
  padding: 2%;
  flex-direction: column;
}

.notification-card-main-cont {
  // flex: 1;
  // background-color: red;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
  height: 70px;
  display: flex;
  gap: 30px;
  cursor: pointer;
  align-items: center;
}
.hamburger-main-cont {
  display: none;
}
.notification-card-main-cont:hover {
  background: #d9d9d9;
}

.new-notification-cards-cont {
  flex-direction: column;
  gap: 2px;
  display: flex;
  // overflow-y: scroll;

  align-items: flex-start;
  // justify-content: flex-start;
  padding-top: 20px;
}

//Todo css

.todo-main-cont {
  display: flex;
  // background-color: white;
  background: #fcfcfc;
  min-width: 45%;
  border-radius: 20px;
  max-height: 430px;

  padding: 2% 4%;
  flex-direction: column;
}

.todo-sub-heading {
  color: #909090;
  font-size: 18px;
}

.todo-card-main-cont {
  // padding-bottom: 10px;
  // border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
  height: 70px;
  display: flex;
  gap: 30px;

  align-items: center;
  cursor: pointer;
}

.todo-card-main-cont:hover {
  background: #d9d9d9;
}
.todo-card-main-cont:hover .square {
  background: white;
}
.square {
  width: 36px;
  height: 36px;
  background: #d9d9d9;
  border-radius: 10px;
}

.todo-card-task-head {
  color: #000000;
}

.todo-task-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.todo-cards-cont {
  flex-direction: column;
  gap: 20px;
  display: flex;
  // align-items: center;
  padding-top: 20px;
}

.todo-cars-task-hint {
  color: #909090;
}

.vertical-line {
  height: 80%;
  background: #1f194c;
  width: 7px;
  border-radius: 20px;
}

// UpcomingEvents css

.upcoming-events-main-cont {
  display: flex;
  // background-color: white;
  background: #fcfcfc;
  width: 55%;
  border-radius: 20px;
  max-height: 430px;

  padding: 2% 5%;
  flex-direction: column;
}

.upcoming-event-card {
  display: flex;
  flex: 1;
  background: #f5f6fa;
  border-radius: 6px;
  align-items: flex-start;
  font-size: 600;
  padding: 1% 4%;
  flex-direction: column;
}
.event-timing-div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.circle {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
}

.event-timings-tag {
  font-size: 14px;
}

.event-name-tag {
  font-size: 16px;
}

.event-desc-tag {
  font-size: 15px;
  color: #5c5b5b;
}
.mobile-more-button {
  padding: 2% 1%;
  border: none;
  width: 40%;
  //   display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 2px solid #AFAFAF; */
  box-shadow: 0px 20px 40px rgba(214, 179, 64, 0.35);
  border-radius: 10px;
  cursor: pointer;
  border-color: rgba(255, 255, 255, 0);
  background-color: #fecf34;
  display: none;
}

@media only screen and (max-width: 600px) {
  .mobile-more-button {
    display: flex;
  }
  .hamburger-main-cont {
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: #1f194c;
    height: 100%;
  }
  .dashboard-first-section {
    flex-direction: column;
    gap: 10px;
  }
  .new-job-company-heading {
    font-size: 15px;
    font-weight: 600;
  }
  .new-jobs-head {
    font-size: 16px;
  }
  .new-jobs-main-cont {
    width: 100%;
    border-radius: 8px;
    padding-bottom: 10px;
  }
  .dashboard-header {
    font-size: 18px;
  }
  .new-job-company-post {
    font-size: 13px;
  }
  .new-job-time-of-upload > span {
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .dashboard-section-cont {
    padding-top: 4%;
    padding-bottom: 6%;
  }
  .newjob-company-logo {
    width: 11%;
  }
  .job-card-cont {
    height: 80px;
  }
  .dashboard-section-cont {
    gap: 15px;
  }
  .new-job-company-description {
    flex: 1.5;
  }
  .new-job-company-extra-detail > span {
    font-size: 12px;
  }

  .dot {
    width: 5px;
    height: 5px;
  }
  .new-job-time-of-upload {
    gap: 5px;
  }
  .new-jobs-cards-cont {
    padding-top: 5px;
  }

  .notification-main-cont {
    border-radius: 8px;
    display: none;
  }
  .todo-main-cont {
    width: 100%;
    border-radius: 8px;
  }

  .todo-sub-heading {
    font-size: 14px;
  }
  .todo-card-task-head {
    font-size: 15px;
  }
  .todo-cars-task-hint {
    font-size: 14px;
  }
  .upcoming-events-main-cont {
    width: 100%;
    border-radius: 8px;
  }
  .event-timings-tag {
    font-size: 14px;
  }
  .event-name-tag {
    font-size: 15px;
  }
  .event-desc-tag {
    font-size: 14px;
  }
}

//google modal
.p-30 {
  padding: 30px;
}
.job-modal-wrapper {
  max-height: 95vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .modal-header {
    display: flex;
    h3 {
      margin-bottom: 5px;
      font-weight: 400;
    }
    p {
      font-size: 12px;
      color: #909090;
      line-height: 12px;
    }
    .content {
      flex: 1;
      margin: 0 30px;
    }
  }
  .modal-image-section {
    height: 400px;
    img {
      object-fit: cover;
    }
  }
  .modal-job-details {
    p {
      color: #909090;
      font-weight: 300;
    }
    hr {
      border: none;
    }
    a {
      color: rgba(0, 82, 186, 1);
    }
  }
  .modal-job-full-details {
    padding-bottom: 0;
    h2 {
      font-weight: 400;
      margin-bottom: 10px;
      font-size: 20px;
    }
    .details {
      overflow-y: scroll;
      max-height: 400px;
      h3 {
        font-weight: 400;
        margin-bottom: 10px;
      }
      p {
        font-size: 14px;
        margin-bottom: 10px;
        font-weight: 300;
        line-height: 22px;
      }
      .detail-ul {
        list-style: inside;
        margin-bottom: 20px;
        li {
          font-size: 14px;
          font-weight: 300;
          line-height: 22px;
          margin-bottom: 5px;
        }
      }
      &::-webkit-scrollbar {
        width: 5px;
        background-color: #afafaf80;
        border-radius: 5px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        width: 5px;
        background-color: #00000080;
      }
    }
    .about-card {
      background: #f5f6fa;
      border: 0.5px solid #000000;
      border-radius: 7px;
      padding: 1rem 2rem;
      margin-bottom: 2rem;
      width: 98%;
      h3 {
        font-weight: 400;
        margin-bottom: 20px;
      }
      p {
        font-size: 14px;
      }
      .about {
        display: flex;
        margin-bottom: 20px;
        img {
          margin-right: 20px;
        }
        p {
          span {
            font-size: 18px;
            color: #000000;
          }
          color: #909090;
        }
      }
    }
  }
  .modal-footer {
    img {
      margin-right: 20px;
    }
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    button {
      background: #fecf34;
      border-radius: 10px;
      padding: 0 15px;
      border: none;
      font-weight: 600;
    }
  }
}
